<!DOCTYPE html>
<html>

<body>

    <p>I am normal</p>
    <p style="color:red;">I am red</p>
    <p style="color:blue;">I am blue</p>
    <p style="font-size:50px;">I am big</p>
    <h1 style="width: 50%;background-color:rgb(255, 165, 0);">Name: {{name}} </h1>
    <h1>Age: {{age}} </h1>
    <!-- <h2>Weeks: {{week}}</h2> -->


    <table style="width: 100%;">
        <colgroup>
            <col span="2" style="background-color: #D6EEEE">
        </colgroup>

        <tr>
            {% for day in weeks %}

            <th>{{ day }}</th>

            {% endfor %}
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
        </tr>
        <tr>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
        </tr>
        <tr>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
        </tr>
    </table>

</body>

</html>